Repository MauricioZapata00/230630-CTD-final-project-team-1-group-1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_application_frontend

.gitlab-ci.yml:

stages:
  - build
  - deploy

build_frontend:
  stage: build
  image: node:latest
  script:
    - echo "Starting building frontend app ..."
    - cd Front/
    - npm install --save-dev
    - npm run build
    - echo "Frontend Build successfully!  :D"
  rules:
    - changes:
      - Front/*
  only:
    - release
    - fix/broken-pipelines

build_backend:
  stage: build
  image: maven:3.8.3-openjdk-17
  script:
    - cd Back/catering
    - echo "Building app..."
    - mvn clean
    - mvn clean install
    - echo "Finished building backend app :D"
  artifacts:
    paths:
      - Back/catering/target/catering-0.0.1-SNAPSHOT.jar
  rules:
    - changes:
      - Back/**/*
  only:
    - release
    - fix/broken-pipelines

deploy_application_frontend:
  stage: deploy
  needs: [build]
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "deploying frontend app ..."
    - cd Front/
    - aws s3 cp -r dist/* s3://equipo1-c1-bucket-frontend
    - echo "Frontend deploy successfully!  :D"
  rules:
    - changes:
      - Front/*
  only:
    - release
    - fix/broken-pipelines

deploy_Backend:
  stage: deploy_back
  needs: [build]
  image: alpine:3.11
  script:
    - ssh -i catering-key-c1.pem ubuntu@18.188.200.107 "cd backendApp/ pkill -f catering-0.0.1-SNAPSHOT.jar rm -rf catering-0.0.1-SNAPSHOT.jar"
    - scp -i catering-key-c1.pem ../Back/catering/target/catering-0.0.1-SNAPSHOT.jar ubuntu@18.188.200.107:/home/ubuntu/backendApp
    - ssh -i catering-key-c1.pem ubuntu@18.188.200.107 cd backendApp/ java -jar catering-0.0.1-SNAPSHOT.jar &"
    - echo "Finished deploying backend app :D"
  only:
    - release
    - fix/broken-pipelines

Adding some environment variables to the backend project to automate pipeline
  Back/catering/src/main/java/com/dh/catering/service/UsuarioService.java
  Back/catering/src/main/resources/application.properties
Due: build_backend

Adding the respective environment variables to the pipeline
  .gitlab-ci.yml
Due: none

Se agrega el controlador de reserva y algunos cambios en los servicios
  Back/catering/src/main/java/com/dh/catering/configuration/SecurityConfig.java
  Back/catering/src/main/java/com/dh/catering/controller/ProductoController.java
  Back/catering/src/main/java/com/dh/catering/controller/ReservaController.java
  Back/catering/src/main/java/com/dh/catering/controller/UsuarioController.java
  Back/catering/src/main/java/com/dh/catering/service/ProductoService.java
  Back/catering/src/main/java/com/dh/catering/service/UsuarioService.java
  src/components/common/ProductDetail/ProductDetail.jsx
  src/components/common/ProductDetail/index.jsx
Due: build_backend

se agregó calendario de reservas
  Front/package-lock.json
  Front/package.json
  Front/src/components/common/FormBooking/FormBooking.jsx
  Front/src/components/common/ProductDetail/ProductDetail.jsx
Due: build_frontend, deploy_application_frontend

Se revierte la config de puntuacion debido a la config actual del front
  Back/catering/src/main/java/com/dh/catering/configuration/SecurityConfig.java
Due: build_backend

cambios en el calendario y botón d reserva
  Front/src/components/common/ProductDetail/ProductDetail.jsx
Due: none

se corrige validacion de dias minimos de reserva
  Back/catering/h2db.mv.db
  Back/catering/src/main/java/com/dh/catering/service/ReservaService.java
Due: build_backend

Adding some last configuration to the pipeline to not erase completely the backend-app
  .gitlab-ci.yml
  Back/catering/src/test/java/com/dh/catering/CateringApplicationTests.java
  Back/catering/src/test/java/com/dh/catering/controller/UsuarioControllerTest.java
  Back/catering/src/test/java/com/dh/catering/factory/UsuarioFactory.java
Due: build_backend

Adding configuration to the aws cli
  .gitlab-ci.yml
Due: none

Changing the image of the aws cli to the frontend job
  .gitlab-ci.yml
Due: none

Changing the image one more time of the aws cli to the frontend job
  .gitlab-ci.yml
Due: none

Deleting commands of the frontend deploy stage
  .gitlab-ci.yml
Due: none

Changing variables to not protected to see the running status
  .gitlab-ci.yml
Due: none

Synchronizing s3 bucket with another command
  .gitlab-ci.yml
Due: none

Fixing Synchronization with s3 bucket
  .gitlab-ci.yml
Due: none

Erasing the artifacts in the backend build
  .gitlab-ci.yml
Due: none

Adding the ssh command to the gitlab alpine image to deploy the backend app
  .gitlab-ci.yml
Due: none

se deshabilitan fechas reservadas en el calendario
  Back/catering/h2db.mv.db
  Front/src/components/common/FormBooking/FormBooking.jsx
  Front/src/components/common/ProductDetail/ProductDetail.jsx
  Front/src/components/pages/DetailPage/DetailPage.jsx
  Front/src/context/index.jsx
  Front/src/services/index.jsx
Due: build_backend

Adding some configuration to ssh command
  .gitlab-ci.yml
Due: none

Fixing configuration to application.properties
  .gitlab-ci.yml
Due: none

Fixing the connection with ssh
  .gitlab-ci.yml
Due: none

Fixing commands to generate backup information
  .gitlab-ci.yml
Due: none

lectura de endpoints en mis reservas y cambios en formulario de reserva
  Front/src/components/common/Booking/Booking.jsx
  Front/src/components/common/FormBooking/FormBooking.jsx
  Front/src/components/common/ProductDetail/ProductDetail.jsx
  Front/src/components/pages/BookingsPage/BookingsPage.jsx
  Front/src/context/index.jsx
  Front/src/services/index.jsx
Due: none

Adding some logic to execute the pipeline
  .gitlab-ci.yml
Due: none

Building the backend app once again because it is not possible to run it with artifacts
  .gitlab-ci.yml
Due: none

Adding maven to the deploy_Backend job
  .gitlab-ci.yml
Due: none

Deleting java installation in the backend deploy stage
  .gitlab-ci.yml
Due: none

Adding one more time the build stage to the deploy stage when deploying the backend app
  .gitlab-ci.yml
Due: none

Deleting lines that were not necessary in the deploy stage
  .gitlab-ci.yml
Due: none

Nuevo servicio para reserva por nombre de producto
  Back/catering/src/main/java/com/dh/catering/controller/ReservaController.java
  Back/catering/src/main/java/com/dh/catering/dto/ReservaXUsuarioDto.java
  Back/catering/src/main/java/com/dh/catering/repository/ReservaRepository.java
  Back/catering/src/main/java/com/dh/catering/service/ReservaService.java
Due: build_backend

Primer ronda de pruebas unitarias
  Back/catering/src/main/java/com/dh/catering/service/CategoriaProductoService.java
  Back/catering/src/test/java/com/dh/catering/controller/UsuarioControllerTest.java
  Back/catering/src/test/java/com/dh/catering/factory/CategoriaProductoFactory.java
  Back/catering/src/test/java/com/dh/catering/factory/UsuarioFactory.java
  Back/catering/src/test/java/com/dh/catering/service/CategoriaProductoServiceTest.java
  Back/catering/src/test/java/com/dh/catering/util/UtilTest.java
Due: build_backend

Cobertura completa CategoriaProductoService
  Back/catering/src/test/java/com/dh/catering/service/CategoriaProductoServiceTest.java
Due: build_backend

formulario de reserva listo y eliminicacion de consolelogs
  Back/catering/h2db.mv.db
  Front/src/components/common/FormBooking/FormBooking.jsx
  Front/src/components/layout/Header/Header.jsx
  Front/src/components/pages/BookingDetailPage/BookingDetailPage.jsx
  Front/src/components/pages/CategoryPage/CategoryPage.jsx
  Front/src/components/pages/DetailPage/DetailPage.jsx
  Front/src/components/pages/LoginPage/LoginPage.jsx
  Front/src/components/pages/RegisterPage/RegisterPage.jsx
  Front/src/components/pages/UserPage/UserPage.jsx
  Front/src/styles/pages/_userPage.scss
Due: build_backend

Se elimina archivo db vacio
  Back/catering/h2db.mv.db
Due: build_backend

Se sube la db funcional
  Back/catering/h2db.mv.db
Due: build_backend

Se modifica el objeto de reserva, agregan mas test
  Back/catering/src/main/java/com/dh/catering/controller/ReservaController.java
  Back/catering/src/main/java/com/dh/catering/dto/ReservaDto.java
  Back/catering/src/main/java/com/dh/catering/dto/ReservaXUsuarioDto.java
  Back/catering/src/main/java/com/dh/catering/service/ReservaService.java
  Back/catering/src/main/java/com/dh/catering/service/RolService.java
  Back/catering/src/test/java/com/dh/catering/factory/RolFactory.java
  Back/catering/src/test/java/com/dh/catering/service/RolServiceTest.java
Due: build_backend

Pruebas basicas de controller
  Back/catering/src/main/java/com/dh/catering/configuration/SecurityConfig.java
  Back/catering/src/test/java/com/dh/catering/config/TestSecurityConfig.java
  Back/catering/src/test/java/com/dh/catering/controller/UsuarioControllerTest.java
  Back/catering/src/test/resources/application-test.properties
Due: build_backend

Otra ronda de unit tests
  Back/catering/src/main/java/com/dh/catering/service/PuntuacionService.java
  Back/catering/src/test/java/com/dh/catering/factory/PuntuacionFactory.java
  Back/catering/src/test/java/com/dh/catering/service/PuntuacionServiceTest.java
  Back/catering/src/test/java/com/dh/catering/service/RolServiceTest.java
Due: build_backend

se arregla la seleccion de fechas de la reserva y se formate correctamente los archivos y se limpia el proyecto de logs
  Front/src/components/common/Booking/Booking.jsx
  Front/src/components/common/CreateCategoryForm/CreateCategoryForm.jsx
  Front/src/components/common/ErrorMessage/ErrorMessage.jsx
  Front/src/components/common/FormBooking/FormBooking.jsx
  Front/src/components/common/Pagination.jsx
  Front/src/components/common/PopupUser.jsx
  Front/src/components/common/Product/Product.jsx
  Front/src/components/common/ProductDetail/ProductDetail.jsx
  Front/src/components/common/ProductForm/ProductForm.jsx
  Front/src/components/common/ProductItem/ProductItem.jsx
  Front/src/components/common/ProductRating.jsx
  Front/src/components/common/Products/Products.jsx
  Front/src/components/layout/Header/Header.jsx
  Front/src/components/pages/AdminEditProduct/AdminEditProduct.jsx
  Front/src/components/pages/AdminListUsers/AdminListUsers.jsx
  Front/src/components/pages/BookingsPage/BookingsPage.jsx
  Front/src/components/pages/DetailPage/DetailPage.jsx
  Front/src/components/pages/RegisterPage/RegisterPage.jsx
  Front/src/components/pages/UserPage/UserPage.jsx
Due: none
